<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gorkemozdemir.supermarketapplication">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Campaign"></activity>
        <activity android:name=".animation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LastScreen" />
        <activity android:name=".Payment" />
        <activity android:name=".CartNotLogin" />
        <activity android:name=".cartActivity" />
        <activity android:name=".allMilk" />
        <activity android:name=".allBreakfast" />
        <activity android:name=".allFish" />
        <activity android:name=".allMeat" />
        <activity android:name=".allVegetables" />
        <activity android:name=".allFruits" />
        <activity android:name=".resetPassword" />
        <activity android:name=".changeAdress" />
        <activity android:name=".addAdress" />
        <activity android:name=".Adress" />
        <activity android:name=".Account" />
        <activity android:name=".userInformations" />
        <activity
            android:name=".FirstScreen"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SignUpActivity" />
        <activity android:name=".SignInActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>